# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.class
intro-slider-lib/build/
.idea/
.gradle/

build/generated/mockable-android-24.jar
build/intermediates/dex-cache/cache.xml
build/intermediates/proguard-files/proguard-android-optimize.txt-2.2.2
build/intermediates/proguard-files/proguard-android.txt-2.2.2
*.iml
intro-slider-lib/intro-slider-lib.iml
